@layer zyncat.reset, zyncat.tokens, zyncat.base, zyncat.components;

@layer zyncat.components {
  [data-activate='pointerdown'][aria-haspopup]:active:not(:disabled):not(.zc-is-loading) {
    transform: none;
  }

  [data-activate='pointerdown'][aria-haspopup][aria-expanded='true']:not(:disabled):not(.zc-is-loading) {
    transform: none;
    border-color: var(--accent);
  }
}
